<% flash.each do |type, msg| %>
  <h1><%= content_tag :div, msg, class: "flash_#{type}" %></h1>
<% end %>

<h1>Tools Index</h1>

<% @tools.each do |tool| %>
  <p><%= tool.name %>, use: (<%= tool.use %>)</p>
  <p><%= link_to "Edit", edit_tool_path(tool) %></p>
  <p><%= link_to "Delete", tool_path(tool), method: :delete %></p>
<% end %>

<%= link_to "New Tool", new_admin_tool_path %>
